h1 {
    font-family:'Times New Roman', Times, serif;
}
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color:deeppink; 
    font-size:70 pt; 
}
h3 {
    font-stlyle: bold;
    color:blueviolet;
}
body{
    background-color: #CFFF04; 
}